ADMIN_PIN=2448766
FIREBASE_API_KEY=your_firebase_api_key_here
FIREBASE_APP_ID=your_firebase_app_id_here
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
FIREBASE_DATABASE_URL=your_firebase_database_url_here
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id_here
FIREBASE_PROJECT_ID=your_firebase_project_id_here
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here
FIRESTORE_DATABASE_ID=your_firestore_database_id_here
FRONTEND_URL=https://chitron.iam.bd
IMGBB_API_KEY=your_imgbb_api_key_here
MONGODB_URI=your_mongodb_uri_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
PIXABAY_API_KEY=your_pixabay_api_key_here
SESSION_SECRET=your_session_secret_here
